.header {
  background: red;
  height: 75px;
}

.header input{
  border-radius: 5px;
  border: 0px;
}

.header button{
  background: blue;
  color: white;
  border-radius: 5px;
  border: 0px;
  margin-left: 20px;
}

